@charset "UTF-8";
 @font-face {
    font-family: face;
    src: url(idroid.otf);



    
}
body{
    font-family: arial, Helvetica, sans-serif;
    background-color: #EBE5C5;
    margin: 0px;
}
header{
    color: #ffff;
    background-image: linear-gradient(to top, #1A5C38,#35BE72 );
    padding: 10px;
   margin-left: -10px;
   margin-right: -10px;
   margin-top: -10px;
   height: 140px;
   box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.253);
   
  padding: 10px;
  margin: 0; /* importante */
}
nav > a{
    padding: 10px;
    margin-right:  10px;
    text-decoration: none;
    color:white ;
    
}
header > h1{
   
     
    text-align: center;
    text-shadow: 1px 1px 14px  rgba(0, 0, 0, 0.363);
}
header > p{
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 14px  black;
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 30px;
}
nav{
    padding: 10px;
    margin-top: 0px;
    background-color: #1A5C38;
    
}

#Home:hover{
    Transition-duration:1s;
    border-radius: 10px;

    padding: 10px;
    background-color: #167442;

}
#Noticias:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: #167442;
Transition-duration:1s;
}
#Curiosidades:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: #167442;
    Transition-duration:1s;
}
#fale:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: #167442;
    Transition-duration:1s;
}
#Noticias:hover{
    border-radius: 10px;
    padding: px;
    background-color: #167442;
}
main > h1{
    font-family: face;
    font-size: 24px;
   color:#22623F ; 
}
main{
    background-color: white;
    box-shadow: 0px 6px 20px 6px rgba(0, 0, 0, 0.192);
    padding: 10px;
    margin: auto;
   max-width: 770px;
   min-width: 320px;
    height: 100hv;
    text-indent: 30px;
    border-radius: 0px 0px 20px 20px;
    
}
#pula{
     text-indent: 30px;
     
}
#pula2{
     text-indent: 30px;

}
main > h2{
    background-image: linear-gradient(to right, #C6EBD6, white);
    font-family: face;
    color:#22623F ; 
    font-size: 24px;
}
#mascote{
    background-image: linear-gradient(to right, #C6EBD6, white);
}
main > p{
    text-indent: 30px;
}
div{
    background-color: #1A5C38;
    
}
#cerde{
    background-color: #C5EBD6;
    height: 400px;
    border-top-right-radius: 10px;
   border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.295);
}
#verde{
    margin-top: 50px;
    background-color:#2FA866 ;
    border-radius: 10px 10px 0px 0px  
    
}
div > p{
    padding: 10px;
}

main img{
    width: 100%;
}
main img.droid{
    max-width: 491px;
    display: block;
    margin: auto;
}
main img.irina{
     max-width: 740px;
    display: block;
    margin: auto;
}
main img.droid2{
    max-width: 350px;
    display: block;
    margin: auto;
}
    
   
.lista-doce {
    background-color: #C5EBD6;
    display: flex;
    list-style-position: inside;
}

   
a{
     text-decoration: none;
    color: #2FA866;
}
footer{
    margin-top: 20px;
background-color: #1A5C38;

text-align: center;
}
   
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.video-container {
    background-color: #1A5C38;
    padding: 10px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
#video1{
    
  background-color: #1A5C38; 
  margin-left: -10px;
  margin-right: -10px;
  
}

